name: Call workflow

on: 
  workflow_dispatch:
         
jobs:
  mostrarEcho:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Run mostrarEcho
      uses: ./.github/workflows/action.yml
      with: 
        envSEC: ${{ secrets.SEC }}
