name: Env-Action-v2
on: 
 workflow_dispatch:
  inputs:
    environment:
      type: choice
      description: 'Escoge un entorno'
      required: true
      options:
        - 'dev'
        - 'prod'
       
jobs:
 deploy:
  runs-on: ubuntu-latest
  steps:
  - name: Checkout code
    uses: actions/checkout@v4
  - name: Showing env var
    run: echo "The environment variable of ${{ github.event.inputs.environment }} is ${{ github.event.environment.ENV_VAR }}"
