name: Environment
on:
 workflow_dispatch:
 
jobs:
 deploy:
   runs-on: ubuntu-latest
   strategy: 
     matrix: 
       environment: [pro, dev]
   steps:
     - name: Checkout code
       uses: actions/checkout@v4
     - name: Show environment variable
       run: echo ${{ matrix.environment }}
       env:
         ENV_VAR : ${{ env[matrix.environment] }}
